.outer-wrapper {
    position: relative;
    width: 100%;
    background-color: white;
}

.wrapper {
    white-space: nowrap;
    margin: auto;
    overflow: hidden;
}

lightning-icon {
    position: absolute;
    top: 50%; 
    transform: translate(0, -50%);
    cursor: pointer;
}

.next {
    right: 5px;
}

.prev {
    left: 5px;
}

.slide-container {
    position: relative;
    display: inline-block;
}